@{
    ViewBag.Title = "MasterPage";
}

<h2>MasterPage</h2>
<div>
    @RenderBody()
</div>
<div id="div_menu">
    <!--
    @{
    
        // Si un utilisateur est connectée
        if (true)
	    {
            @Html.ActionLink("Connexion", "Login", "Login");<br />
            @Html.ActionLink("Inscription", "Index", "Inscription");
        }
        else
        {
            @Html.ActionLink("Déconnexion", "Login", "Login");
        }
    }
    -->
</div>