@{
    ViewBag.Title = "listForm";
}

<h2>listForm</h2>
<!doctype html>
<html ng-app="formApp">
<head>
    <title>Formulaires</title>
    <meta charset="utf-8" />
    <!-- LOAD BOOTSTRAP CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

    <!-- LOAD JQUERY -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- LOAD ANGULAR -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>

    <!-- PROCESS FORM WITH AJAX (NEW) -->
    <script src="~/js/controller/form.js"></script>
</head>
<!-- apply the module and controller to our body so angular is applied to that -->
<body ng-controller="formController">
    <div class="container">
        <header class="row col-sm-12">
            <div class="page-header">
                <h1>MagiicForm<!-- <img src="images/formIcon.jpeg" class="pull-right"> --></h1><small> Le site qui créer le monde</small>
            </div>
        </header>
        <div class="row col-sm-12">
            <nav class="col-sm-2">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"> <a href="/WelcomeUser/Welcome"> <span class="glyphicon glyphicon-home"></span> Accueil </a> </li>
                    <li class="#"> <a href="/Formulaire/List"> <span class="glyphicon glyphicon-home"></span> Formulaires </a> </li>
                    <li class="#"> <a href="/AnswerForm/ListForm"> <span class="glyphicon glyphicon-home"></span> Répondre </a> </li>
                    <li class="#"> <a href="/ProfilUser/Profil"> <span class="glyphicon glyphicon-home"></span> Profil </a> </li>
                    <li class="#"> <a href="/Login/LogOut"> <span class="glyphicon glyphicon-home"></span> Déconnexion </a> </li>
                    <li> <a href="#"> <span class="glyphicon glyphicon-envelope"></span> Contact </a> </li>
                </ul>
            </nav>
            <section class="col-sm-10">
                <p>Liste de tous les formulaires actuellement disponibles et dont vous pouvez dès à présent consulter et répondre.</p>
            </section>
            <div class="row col-sm-10">
                <section>
                    @{
                        // Récupération des formulaires et du nombre de réponses pour chacun d'eux.
                        var list = (List<FormEsgi.Models.Form>)ViewData["forms"];
                        var countAnswers = (List<int>)ViewData["countAnswers"];
                        if (list == null)
                        {
                            list = new List<FormEsgi.Models.Form>();
                        }
                        if (countAnswers == null)
                        {
                            countAnswers = new List<int>();
                        }
                        var formsAndCountAnswers = list.Zip(countAnswers, (f, c) => new { Form = f, Count = c });
                    }
                    <div class="list-group">
                        @foreach (var item in formsAndCountAnswers)
                        {
                            <a href="/AnswerForm/AnswerForm/@item.Form.FormId" class="list-group-item">
                                <span class="badge">@item.Count</span>
                                @item.Form.description
                            </a>
                        }
                    </div>

                </section>

            </div>
        </div>
        
    </div>
</body>
</html>