@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Welcome";
}

<body ng-controller="editUserController">
    <div class="container">
        <div class="row col-sm-12">
            <h2 class="col-sm-10">Bienvenue !</h2>
            <section class="col-sm-10">
                <article>Bienvenue cher utilisateur. Prenez le temps d'observer le menu à gauche et participer à enrichir le contenu du site.
                 Souvenez vous cependant que chaque formulaire ajouté coûte la bagatelle de 200€ hors frais et TVA bien évidemment.
                 Mais que cela ne coupe pas votre envie de participer à la fabuleuse aventure de Magiic Form !!</article>
            </section>
            <section class="col-sm-10">
                <article>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </article>
            </section>
        </div>
    </div>
</body>
